<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{recipe_title}}</title>
</head>
  <body>
  <h1>{{recipe_title}}</h1>
    <div class="container">
      <div class="header">
          <h1>Title: {{html_title}}</h1>
          <h1>Yield: {{html_yield}}</h1>
          <h1>Ingredients: </h1>
          <ul>
            {% for item in html_ingredients[0]['list'] %}
            <li>{{item}}</li>
            {% endfor %}
            </ul>
          <h1>Instructions: </h1>
          <ul>{% for item in html_instructions[0]['list'] %}
            <li>{{item}}</li>
            {% endfor %}
          </ul>
      </div>
        </div>
  </body>
</html>

