<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>SousChefBot</title>
    <link rel="shortcut icon" href="../static/images/icon.ico">
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
</head>
<body>
<label><input type="radio" name="recognition-type" value="final" checked="checked" /> Final only</label>
<label><input type="radio" name="recognition-type" value="interim" /> Interim</label>
<div class="buttons-wrapper">
    <button id="button-play-ws" class="button-demo">Play demo</button>
    <button id="button-stop-ws" class="button-demo">Stop demo</button>
    <button id="clear-all" class="button-demo">Clear all</button>
</div>
<textarea id="transcription" readonly="readonly"></textarea>
<nav class="green lighten-1" role="navigation">

    <div class="nav-wrapper container">
        <a id="logo-container" href="" class="brand-logo white-text">SousChefBot</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">FAQ</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div class="container">
    <div class="header">
        <div class="container">
            <img class="recipeimage" src={{html_photo}} alt="recipe-pic">
            <h3 class="recipe-title green-text text-darken-2">{{html_title}}</h3>
        </div>
    </div>

    <div class="row">

        <div class="col s3">
            <div class="section">
                <h5 class="green-text text-darken-2">Yield: </h5>
                <h6>{{html_yield}}</h6>
            </div>
            <div class="container">
                <div class="divider"></div>
            </div>
            <div class="section">
                <h5 class="green-text text-darken-2">Ingredients: </h5>
                <ul>
                    {% for item in html_ingredients %}
                    <li> {{item}}</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div class="col s6">
            <div class="section">
                <h5 class="green-text text-darken-2">Instructions: </h5>
                <ol id="instructions">
                    {% for item in html_instructions %}
                    <li id ="{{loop.index0}}"> {{item}}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="col s3">
            <h5 class="section green-text text-darken-2">SousChefBot:</h5>
            <h6 class="green-text text-darken-2">Let's get cooking! Gather your ingredients.</h6>
            <h6 class="green-text text-darken-2">Have any questions?</h6> <br>
            <div class="q-and-a">
                <h5 id="log"></h5>
            </div>
        </div>
    </div>
</div>
</body>
</html>
    <script type="text/javascript" charset="utf-8">
            var $list = $("ol li");
            var i = 0;
            $list.eq(i).addClass("highlight");

            // Test browser support
            window.SpeechRecognition = window.SpeechRecognition ||
                    window.webkitSpeechRecognition ||
                    null;

            if (window.SpeechRecognition === null) {
                document.getElementById('ws-unsupported').classList.remove('hidden');
                document.getElementById('button-play-ws').setAttribute('disabled', 'disabled');
                document.getElementById('button-stop-ws').setAttribute('disabled', 'disabled');
                console.log("can't do speech rec")
            } else {
                var recognizer = new window.SpeechRecognition();
                var transcription = document.getElementById('transcription');
                var log = document.getElementById('log');

                //text-to-voice stuff
                var su = new SpeechSynthesisUtterance();
                su.lang = "en";
                su.text = "Hello World";
                speechSynthesis.speak(su);

                //socket stuff
                namespace = '/test';
                var socket = io.connect('http://' + document.domain + ':' + location.port + namespace, {'multiplex': false});

                // Recogniser doesn't stop listening even if the user pauses
                recognizer.continuous = true;

                // Start recognising
                recognizer.onresult = function (event) {
                    transcription.textContent = '';
                    for (var i = event.resultIndex; i < event.results.length; i++) {
                        if (event.results[i].isFinal) {
                            console.log(event.results[i][0].transcript)
                            socket.emit('audio', {data: event.results[i][0].transcript});
                            transcription.textContent = event.results[i][0].transcript + ' (Confidence: ' + event.results[i][0].confidence + ')';
                            recognizer.stop()
                            su.text = "this is a really really long phrase that will hopefully confuse everyone and everything and make the whole system break but it will be solved by my magic"
                            speechSynthesis.speak(su);
                            recognizer = new window.SpeechRecognition();
                            recognizer.start()
                        } else {
                            transcription.textContent += event.results[i][0].transcript;
                        }
                    }
                };
                // Listen for errors
                recognizer.onerror = function (event) {
                    log.innerHTML = 'Recognition error: ' + event.message + '<br />' + log.innerHTML;
                };

                //*************SOCKETS******************
                socket.on('my response', function (msg) {
                    $('#log').prepend(msg.data + '<br><br>');
                    if (msg.data.indexOf("Next step") != -1) {
                        $list.eq(i).removeClass("highlight");
                        $list.eq(i + 1).addClass("highlight");
                        i = i + 1;
                        console.log(i);
                    }

                });

                //event handler for new connections
                socket.on('connect', function () {
                    socket.emit('my event', {data: 'I\'m listening now!'});
                });

                socket.on('saythis', function (data) {
                    recognizer.stop()
                    console.log(data['data']);
                    su.text = data['data'];
                    speechSynthesis.speak(su);
                    recognizer.start()
                });

                //************* END OF SOCKETS******************


                document.getElementById('button-play-ws').addEventListener('click', function () {
                    // Set if we need interim results
                    recognizer.interimResults = document.querySelector('input[name="recognition-type"][value="interim"]').checked;

                    try {
                        recognizer.start();
                        log.innerHTML = 'Recognition started' + '<br />' + log.innerHTML;
                    } catch (ex) {
                        log.innerHTML = 'Recognition error: ' + ex.message + '<br />' + log.innerHTML;
                    }
                });

                document.getElementById('button-stop-ws').addEventListener('click', function () {
                    recognizer.stop();
                    log.innerHTML = 'Recognition stopped' + '<br />' + log.innerHTML;
                });

                document.getElementById('clear-all').addEventListener('click', function () {
                    transcription.textContent = '';
                    log.textContent = '';
                });
            }
    </script>